@{
    Layout = null;
    
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link href="http://cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <link href="~/Content/donghua.css" rel="stylesheet" />
    <link href="~/Content/lxcss.css" rel="stylesheet" />
    <title>天气颜值</title>
    <style type="text/css">
        body {
            font-family: "微软雅黑" Arial, Helvetica, sans-serif;
            /*此部分支持chrome，应该也支持firefox*/
            /*background: url(/Images/bg.png);*/
            background-color: #26739D;
            padding-top: 20px;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            background-size: cover;
            /*-webkit-animation: STAR-MOVE 200s linear infinite;
            -moz-animation: STAR-MOVE 200s linear infinite;
            -ms-animation: STAR-MOVE 200s linear infinite;
            animation: STAR-MOVE 200s linear infinite;*/
            /*background: url(/Images/bg.jpg) no-repeat center fixed;*/
            /*background-attachment: fixed;
            background-size: 100% 100%;*/
        }

        .showBox {
            display: -webkit-box;
        }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }

        .fontwhiter {
            color: white;
        }

        .hotbt {
            background: rgba(0,0,0,0.2)!important;
            background: #000;
        }

        .hotbt10 {
            background: rgba(0,0,0,0.3)!important;
            background: #000;
            /*filter: Alpha(opacity=20);*/
            border-radius: 20px 20px 20px 20px;
            color: #FFFFFF;
        }

        .hotbt20 {
            background: rgba(0,0,0,0.3)!important;
            background: #000;
            /*filter: Alpha(opacity=20);*/
            border-radius: 20px 20px 20px 20px;
            color: #FFFFFF;
        }

        .hotbt30 {
            background: rgba(0,0,0,0.3)!important;
            background: #000;
            /*filter: Alpha(opacity=20);*/
            border-radius: 20px 20px 20px 20px;
            color: #FFFFFF;
        }



        .hotbd {
            border: 1px solid #fbaeab;
        }

        .circle {
            background: rgba(0,0,0,0.2)!important;
            background: #000;
            /*width: 400px;
            height: 400px;
            border-radius: 200px;*/
            /*filter: alpha(opacity=50);*/
            /*opacity: 0.5;*/
            /*border: solid rgb(100,100,100) 1px;*/
        }

        .vectalgin {
            position: relative;
            top: 50%;
            /*transform: translateY(-50%);*/
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .valgin {
            vertical-align: middle;
        }

        #canvas_circle {
            /*position: absolute;
            padding: 0px;
            margin: 0px;
            border: solid white 1px;*/
            background: rgba(0,68,100,0.7)!important;
            background: #000;
        }

        .sh {
            background: rgba(0,85,120,0.6)!important;
            background: #000;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="position: relative;">
        <div id="midground" class="wall"></div>
        <div id="foreground" class="wall"></div>
        <div class="row">
            <div class="col-xs-6">
                <a id="switchCity" href="###">
                    <span class="glyphicon glyphicon-map-marker fontwhiter"></span>
                    <span id="city" class="fontwhiter">@ViewBag.CityName</span>
                    <span class="fontwhiter">[切换]</span></a>
            </div>
            <div class="col-xs-6">
                <dl style="float: right;" class="fontwhiter">
                    <dt class="hotbt10 lx_pda5 lx_mga5">
                        <span class="ion-leaf lx_fs18" style="color: red; margin: 3px;"></span><span style="">严重污染</span></dt>
                    <dt class="hotbt10 lx_pda5 lx_mga5"><span class="glyphicon glyphicon-cloud" style="color: yellow; margin: 3px;"></span><span>霾预警</span></dt>
                    <dt class="text-center"><span class="ion-social-snapchat" style="color: red; font-size: 48px;"></span></dt>
                </dl>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="circle center-block">

                    <dl class="fontwhiter text-center vectalgin">
                        <dt><span class="lx_fs64">13</span>℃</dt>
                        <dt><span class="lx_fs24">霾</span></dt>
                        <dt><span class="lx_fs18">湿度45%</span></dt>
                    </dl>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block hotbt30 lx_fs12 lx_mglr30 lx_mgt5 text-center" style="width: auto;">
                    <span id="tip">空气不太好，在室内休息休息吧</span>
                </div>
            </div>
        </div>
        <div class="row lx_mgt60  hotbt">
            <div class="col-xs-12">
                <div class="col-xs-6 lx_bdr1 lx_pda0">
                    <div class="row">
                        <div class="col-xs-9 lx_pda0">
                            <dl class="fontwhiter lx_mgl5">
                                <dt><span>今天</span></dt>
                                <dt><span id="todayIcoAm" class="ion-ios-infinite-outline lx_fs32 valgin"></span><span id="todayIcoPm" class="ion-ios-moon lx_fs32 lx_mga5 valgin"></span><span id="todayTmp" class="valgin">4/11℃</span></dt>
                                <dt><span id="todyDesc">霾转晴</span></dt>
                            </dl>
                        </div>
                        <div class="col-xs-3">
                            <span id="todayAir" class="ion-leaf lx_mgt0 lx_mgr5 lx_fs32" style="color: red; float: right"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 lx_pdr0">
                    <div class="row">
                        <div class="col-xs-9 lx_pda0">
                            <dl class="fontwhiter lx_mgl5">
                                <dt><span>明天</span></dt>
                                <dt><span id="tomIcoAm" class="ion-ios-infinite-outline lx_fs32 valgin"></span><span id="tomIcoPm" class="ion-ios-moon lx_fs32 lx_mga5 valgin"></span><span id="tomTmp" class="valgin">4/11℃</span></dt>
                                <dt><span id="tomDesc">霾转晴</span></dt>
                            </dl>
                        </div>
                        <div class="col-xs-3">
                            <span id="tomAir" class="ion-leaf lx_mgt0 lx_fs32" style="color: red; float: right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 lx_pda0">
                <canvas id="canvas_circle">
                    <p>Your browserdoes not support the canvas element!</p>
                </canvas>
            </div>
        </div>
        <div class="row sh lx_mgt0">
            <div class="row lx_bdb1 lx_mgr0 lx_mgt5">
                <div class="col-xs-12"><span class="fontwhiter lx_mgl5">生活指数</span></div>
            </div>
            <div class="row lx_mgr0">
                <div class="col-xs-4 lx_bdr1 lx_bdb1">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-umbrella lx_fs64 valgin"></span></dt>
                        <dt><span>不带伞</span></dt>
                    </dl>
                </div>
                <div class="col-xs-4 lx_bdr1 lx_bdb1">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-tshirt lx_fs64 valgin"></span></dt>
                        <dt><span>较冷</span></dt>
                    </dl>
                </div>
                <div class="col-xs-4  lx_bdb1">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-android-walk lx_fs64 valgin"></span></dt>
                        <dt><span>较不宜晨练</span></dt>
                    </dl>
                </div>

            </div>
            <div class="row lx_mgr0">
                <div class="col-xs-4 lx_bdr1">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-ios-sunny-outline lx_fs64 valgin"></span></dt>
                        <dt><span>紫外线中等</span></dt>
                    </dl>
                </div>
                <div class="col-xs-4 lx_bdr1">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-sad-outline lx_fs64 valgin"></span></dt>
                        <dt><span>易感冒</span></dt>
                    </dl>
                </div>
                <div class="col-xs-4 ">
                    <dl class="fontwhiter text-center">
                        <dt><span class="ion-model-s lx_fs64 valgin"></span></dt>
                        <dt><span>不宜洗车</span></dt>
                    </dl>
                </div>
            </div>
        </div>



    </div>

    @*<div class="modal fade" tabindex="-1" role="dialog" id="myCarDiv" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1">选择城市</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <input type="text" id="txtCityName" placeholder="请输入城市名或拼音" />
                        </div>
                        <div class="col-xs-2"><a href="###">取消</a></div>
                    </div>
                    <div class="row">
                        <div class="row lx_bdb1 lx_mgr0 lx_mgt5">
                            <div class="col-xs-12"><span class="lx_mgl5">热门城市</span></div>
                        </div>
                        <div class="row lx_mgr0">
                            <div class="col-xs-4 lx_bdr1 lx_bdb1">
                                <span data-area="1010001">北京</span>
                            </div>
                            <div class="col-xs-4 lx_bdr1 lx_bdb1">
                                <span data-area="1010001">北京</span>
                            </div>
                            <div class="col-xs-4  lx_bdb1">
                                <span data-area="1010001">北京</span>
                            </div>

                        </div>
                        <div class="row lx_mgr0">
                            <div class="col-xs-4 lx_bdr1 text-center">
                                <span data-area="1010001">北京</span>
                            </div>
                            <div class="col-xs-4 lx_bdr1">
                                <span data-area="1010001">北京</span>
                            </div>
                            <div class="col-xs-4 ">
                                <span data-area="1010001">北京</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</body>
</html>
<script src="/Scripts/zepto.min.js"></script>
<script src="/Scripts/zeptoEx.js"></script>
<script src="http://cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="/Scripts/weather.js"></script>
<script src="/Scripts/cityList.js"></script>
<script type="text/javascript">
    //var useragent = navigator.userAgent;
    //if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
    //    // 这里警告框会阻塞当前页面继续加载
    //    alert('请使用微信客户端访问本页面！');
    //    // 以下代码是用javascript强行关闭当前页面
    //    var opened = window.open('about:blank', '_self');
    //    opened.opener = null;
    //    opened.close();
    //}
    window.onload = init;
    $(function () {
        var h = window.innerWidth;
        $("#canvas_circle").css("width", h);
        $("#canvas_circle").css("height", 350);
        $(".circle").css("height", Math.floor(h / 2));
        $(".circle").css("width", Math.floor(h / 2));
        $(".circle").css("border-radius", (Math.floor(h / 2)) / 2);
        //var el = $.zLoading({
        //    content: '加载中...'
        //});

        //setTimeout(function () {
        //    el.zLoading("hide");
        //}, 2000);

        $('#switchCity').click(function () {

            window.location.href = '@Url.Action("CitySelect", "Home")'
            //   $('#myCarDiv').modal('show');

            //$.loading({
            //    content: '加载中...'
            //});
            //alert("测试");
            // $.axse("/Home/City", {}, function (r) { alert("成功"); }, function (e) { alert("出错了"); });
        });



    });

    function getAreaID(cityname) {
        for (var i = 0; i < cityList.length; i++) {
            var item = cityList[i];
            if (item.NameCn == cityname)
                return item.AreaID;
        }
    }

    function init() {
        var cityCode = "101010100";

        var needlocation = '@ViewBag.NeedLocation';
        if (needlocation == '1') {//需要定位
            $("#city").text("定位中...");
            getLocation.latAndLon(
        function (data) {

            //data包含经纬度信息
            getLocation.cityname(data.latitude, data.longitude, function (datas) {
                // alert(datas.cityname);
                cityCode = getAreaID(datas.cityname.substring(0, datas.cityname.length - 1)); //str.substring(0, str.length - 1)
                $("#city").text(datas.cityname);
            });
        },
        function () {
            getLocation.setDefaultCity(
                function (defaultData) {
                    //alert("设置默认城市成功");
                    //设置默认城市
                    $("#city").text(defaultData.cityname);

                }
            );
        }
    );
        }
        else {
            cityCode = '@ViewBag.CityCode';
            $("#city").text('@ViewBag.CityName');
        }

        var today = '@DateTime.Now.ToString("MM/dd")';
        $.axse("/Home/QueryWeather", { "cityCode": cityCode },
                    initWeather,
                 function (e) { alert("出错了"); });
    }



    var initWeather = function (data) {

        var dates = new Array();
        var weeks = new Array();

        dates.push('@DateTime.Now.ToString("MM/dd")');
        weeks.push(transformWeek('@DateTime.Now.DayOfWeek.ToString()'));
        dates.push('@DateTime.Now.AddDays(1).ToString("MM/dd")');
        weeks.push(transformWeek('@DateTime.Now.AddDays(1).DayOfWeek.ToString()'));
        dates.push('@DateTime.Now.AddDays(2).ToString("MM/dd")');
        weeks.push(transformWeek('@DateTime.Now.AddDays(2).DayOfWeek.ToString()'));
        dates.push('@DateTime.Now.AddDays(3).ToString("MM/dd")');
        weeks.push(transformWeek('@DateTime.Now.AddDays(3).DayOfWeek.ToString()'));
        dates.push('@DateTime.Now.AddDays(4).ToString("MM/dd")');
        weeks.push(transformWeek('@DateTime.Now.AddDays(4).DayOfWeek.ToString()'));

        var maxArr = new Array();
        var minArr = new Array();
        var sixw = new Array();

        $.each(data.f.f1, function (index, item) {

            if (index == 0)//今天
            {
                var wa = WeaherList.findSingle(item.fa);
                var wp = WeaherList.findSingle(item.fb);
                if (typeof (wa) == "undefined")//白天已过期
                {
                    $("#todyDesc").text(wp.cn);
                    $("#todayTmp").text(item.fd + "℃");
                }
                else {
                    if (wa.code == wp.code) {
                        $("#todyDesc").text(wp.cn);
                    }
                    else {
                        $("#todyDesc").text(wa.cn + "转" + wp.cn);
                    }
                    $("#todayTmp").text(item.fc + "/" + item.fd + "℃");
                }



            }
            else if (index == 1) {//明天
                var wa = WeaherList.findSingle(item.fa);
                var wp = WeaherList.findSingle(item.fb);

                if (wa.code == wp.code) {
                    $("#tomDesc").text(wp.cn);
                }
                else {
                    $("#tomDesc").text(wa.cn + "转" + wp.cn);
                }
                $("#tomTmp").text(item.fc + "/" + item.fd + "℃");

                //$("#tomDesc").text(wa.cn + wp.cn);
                //$("#tomTmp").text(item.fc + "/" + item.fd + "℃");
            }
            if (item.fc == '') {
                maxArr.push(0);
            }
            else {
                maxArr.push(parseInt(item.fc));
            }
            if (item.fd == '') {
                minArr.push(0);
            }
            else {

                minArr.push(parseInt(item.fd));
            }
            sixw.push(item);
        });

        drawChart("canvas_circle", maxArr, minArr, dates, weeks, sixw);
    }

</script>

